body {
  background: black;
  font-family: helvetica;
  color: whitesmoke;
  text-align: center;
  
  /*  Turn off selection    */
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  padding-top: 40px;
  margin-bottom : 0px;
}

h3 {
  margin-top: 0;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  border: 1px solid #CCC;
  border-radius: 4px;
}

.start-menu {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -160px;
  top: -30px;
  margin-top: 200px;
  background: rgba(30, 30, 30, 0.7);
  padding: 20px;
  width: 300px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

#title {
  margin: 0;
  padding: 0;
}

#text {
  margin: 0;
  padding: 0;
  font-size: 25px;
}

.start-menu:hover {
  background: rgba(30, 30, 30, 0.9);
}

#score {
  position: absolute;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  top: -10px;
  right: 50%;
  margin-right: -340px;
  
  background: rgba(30, 30, 30, 0.7);
  border-radius: 5px;
  font-size: 25px;
}

#timer {
  display: none;
  position: absolute;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  top: 10px;
  right: 50%;
  margin-right: -20px;
  
  background: rgba(30, 30, 30, 0.7);
  border-radius: 5px;
  font-size: 25px;
}

.blur{
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}
.super-blur{
  -webkit-filter: blur(7px);
  -moz-filter: blur(7px);
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
  filter: blur(7px);
}

.pointer {
  cursor: pointer;
}